.button div{
    
    margin: 0;
    padding: 0;
    display: inline-block;
}
.button{
    background-color: #EAF6F6;
    text-align: center;
    
}
.button a{
    padding: 0;
    margin: 20px;
}
.button input{
    background-color:#FF0063;
    margin: 0 px;
    padding: 5px 10px;
}